.badge {
  font-size: 95%;
}

.home-section {
  padding: 50px 0px 50px 0px;
}

.exp-title {
  font-weight: normal !important;
}

.exp-company {
  font-weight: 700 !important;
}

.network-icon li {
  margin-right: 20px;
  transition: all 100ms ease-in-out;
}

.network-icon li:hover {
  transform: scale(1.25);
}

.network-icon a:hover {
  color: $sta-menu-text-active !important;
}

.navbar .navbar-nav .nav-link {
  font-weight: bold !important;
  letter-spacing: 0.4px;
}

.navbar .navbar-nav .nav-link:hover {
  color: $sta-menu-text-active !important;
}

.contact-widget a i {
  transition: all 100ms ease-in-out;
}

.contact-widget a:hover i{
  transform: scale(1.25);
  color: $sta-menu-text-active !important;
}

.featurette-icon {
  color: black;
}

.wg-accomplishments ul {
  list-style: none;
  margin-left: 1em;
  border-left: 1px solid #002d72;
  padding-inline-start: 24px;
}

ul.share li i {
  color: #002d72;
}

ul.share li i:hover {
  color: $sta-menu-text-active !important;
}

.article-metadata div {
  font-size: 1.0rem;
  color: black;
}

.article-metadata a {
  color: black;
}

.article-metadata span {
  font-size: 1.0rem;
}
